.Modal {
    position: fixed;
    z-index: 500;
    background-color: #F5F5F5;
    border:2px solid #ccc;
    width: 70%;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 8px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}