.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;

}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #3399CC;
    border: 1px solid #3399CC;
}
.Success:hover{
    background-color:#BDFCC9	;
    color:black
}

.Danger {
    color: red;

}

.Login_SignUp {
    color:black;
    border:1px solid orange;
    border-radius: 5px;
    font-family: Courier New, Courier, monospace
    
}

.Warning {
    color:orange;
    border: 1px solid orange;
}
.Warning:hover {
    background-color: orange;
    color:black
}

.Primary {
    color:white
}
.Primary:hover {
  color:cyan;
}
