.QuestionArea{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid grey;
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    background-color:white;
    height: auto;
  
  }
  
  
  .Question {
      justify-content: center;
      padding: 2%;
      grid-row: 1/3;
  }
  .Solution {
    justify-content: center;
    padding: 2%;
    grid-row: 1/3;
}

.Solution Button {
    padding:2%;
    position: relative;
    left: 4%;
}
.SolutionArea h4 {
    text-align: center;
    color:skyblue;
}
.SolutionArea {
    padding: 2%;
    margin:0%;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    background-color:white;
    
}
.answer {
    width: 50%;
    height: auto;
    margin-left: 24%;
    padding: 2%;
}
.tick {
    width: 10%;
    height: auto;
    margin-left: 44%;
    margin-top: 2%;
    margin-bottom: 2%;
}

  
  .Question form {
      padding:2%;
  }
  
  .option {
      position: relative;
      left: 10%;
  }
  
  .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #F8F8F8		;
      border-radius: 0.4rem;
      padding: 2%;
  }


  .close i {
      color: red;
      font-size: 28px;
      /*background-color: whitesmoke;*/
      padding: 10%;                            
  }
  .close:hover {
      cursor: pointer;
  }
  
  /* Hide the browser's default radio button */
  .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  
  }
  
  /* Create a custom radio button */
  .checkmark {
      position: absolute;
      top: 9px;
      left: 2%;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      background-color: orange;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
      background-color: orange;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
      display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }