.Cards  {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 5em;
    padding: 0 10% 10% 10%;
}
@media screen and (min-width:468px){
    .Cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5em;
        padding: 0 10% 10% 10%;
    }
}